<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <ul class='bar-lists'>
    <li class='list'>
      <%= link_to "/" do %>
        <img src=<%="/images/home_01.png" %> class="home-icon" />
        <p class='bar-list-text'>
        ホーム
        </p>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to  "/" do %>
        <img src=<%="/images/monthly_01.png" %> class="monthly-icon" />
        <p class='bar-list-text'>
          月別
        </p>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to  "/" do %>
        <img src=<%="/images/year_01.png" %> class="year-icon" />
        <p class='bar-list-text'>
          年別
        </p>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to  "/" do %>
        <img src=<%="/images/graph_01.png" %> class="graph-icon" />
        <p class='bar-list-text'>
          グラフ
        </p>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to  "/" do %>
        <img src=<%="/images/search_01.png" %> class="search-icon" />
        <p class='bar-list-text'>
          検索
        </p>
      <% end %>
    </li>
  </ul>
</header>
