<%# cssは商品出品のものを併用
app/assets/stylesheets/items/new.css %>
  
  <div class='new-page-main'>
      <%= form_for(@item) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="new-page-header">
            <%= link_to image_tag("back_01.png", size: '50x50'), "/" %>
          <span class="new-item-register">商品情報変更</span>
        </div>

    <%# 商品画像 %>
      <div class="new-item-lists">
        <div class="new-item-list">
          <div class="new-item-list-head">
            <div class="new-item-list-head-content">
              <div class="img-upload">商品画像</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-image-upload">
            <div class="new-item-image-content">
              <div class="new-item-image-data">
                <%= f.file_field :image, id:"item-image" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /商品画像 %>

    <%# 商品名 %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">商品名</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-text-content">
              <div class="new-item-text-data">
                <%= f.text_area :item_name, class:"new-item-text-data-content", id:"item-name", placeholder:"全角文字（必須 40文字まで)", maxlength:"40" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /商品名 %>

    <%# カテゴリー %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">カテゴリー</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-select">
              <%= f.collection_select(:item_category_id, ItemCategory.all, :id, :name, {}, {class:"new-item-select-content", id:"item-category"}) %>
            </div>
          </div>
        </div>
      </div>
    <%# /カテゴリー %>

    <%# 合計金額 %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">合計金額</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-text-content">
              <div class="new-item-text-data">
                <%= f.text_area :price, class:"new-item-text-data-content", id:"item-price", placeholder:"半角数字 例) 100" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /合計金額 %>

    <%# 後悔度 %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">後悔度</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-select">
                <%= f.collection_select(:regret_id, Regret.all, :id, :name, {}, {class:"new-item-select-content", id:"item-regret"}) %>
            </div>
          </div>
        </div>
      </div>
    <%# /後悔度 %>

    <%# メモ %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">メモ</div>
              <p class="optional">任意</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-text-content">
              <div class="new-item-text-data">
                <%= f.text_area :memo, class:"new-item-text-data-content", id:"item-memo", placeholder:"詳細などご自由に記入下さい（任意 100文字まで)", maxlength:"100" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /メモ %>

    <%# 日付 %>
      <div class="new-item-lists">
        <div class="new-item-name">
          <div class="new-item-name-head">
            <div class="new-item-name-head-content">
              <div class="new-items">日付</div>
              <p class="mandatory">必須</p>
            </div>
          </div>
          <div class="new-item-text">
            <div class="new-item-text-content">
              <div class="new-item-text-data">
                <%= f.text_area :calendar, class:"new-item-text-data-content", id:"item-calendar", placeholder:"半角数字 例) 2000-01-01" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /日付 %>

    <%# 下部ボタン %>
    <div class="new-item-lists">
      <div class="sell-btn-contents">
        <%= f.submit "変更する" ,class:"sell-btn" %>
        <%= link_to "もどる", root_path, class:"back-btn" %>
      </div>
    </div>
    <%# /下部ボタン %>
  <% end %>
  </div>