  <div class='show-page-main'>
    <div class="show-page-header">
      <%= link_to image_tag("back_01.png", size: '50x50'), "/" %>
      <span class="new-item-register">商品情報一覧</span>
    </div>

    <%# 商品画像 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
            <div class="show-item-list-head-content">
              <div class="show-name-left">商品画像</div>
            </div>
          </div>
          <div class="show-item-image-upload">
            <div class="show-item-image-content">
              <div class="show-item-image-data">
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /商品画像 %>

    <%# 商品名 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">商品名</div>
                </div>
                <span class="show-name-light">
                  <%= @item.item_name %>
                </span>
          </div>
        </div>
      </div>
    <%# /商品名 %>

    <%# カテゴリー %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">カテゴリー</div>
                </div>
                <span class="show-name-light">
                  <%= @item.item_category.name %>
                </span>
          </div>
        </div>
      </div>
    <%# /カテゴリー %>

    <%# 合計金額 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">合計金額</div>
                </div>
                <span class="show-name-light">
                  ¥<%= @item.price %>
                </span>
          </div>
        </div>
      </div>
    <%# /合計金額 %>

    <%# 後悔度 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">後悔度</div>
                </div>
                <span class="show-name-light">
                  <%= @item.regret.name %>
                </span>
          </div>
        </div>
      </div>
    <%# /後悔度 %>

    <%# メモ %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">メモ</div>
                </div>
                <span class="show-name-light">
                  <%= @item.memo%>
                </span>
          </div>
        </div>
      </div>
    <%# /メモ %>

    <%# 日付 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">日付</div>
                </div>
                <span class="show-name-light">
                  <%= @item.calendar %>
                </span>
          </div>
        </div>
      </div>
    <%# /日付 %>

    <%# 下部ボタン %>
    <div class="new-item-lists">
      <div class="show-btn-contents">
        <%= link_to "編集", edit_item_path(@item.id), method: :get, class: "edit-btn" %>
        <%= link_to "削除", item_path(@item.id), method: :delete, class:"delete-btn" %>
      </div>
    </div>
    <%# /下部ボタン %>

  </div>